.editing {
    border-bottom: none;
    padding: 0;
}
.editing .edit {
    display: block;
    width: 506px;
    padding: 13px 17px 12px 17px;
    margin: 0 0 0 43px;
}
.editing .view {
    display: none;
}
.editing:last-child {
    margin-bottom: -1px;
}

.title {
  margin-left: 10px;
  color: #222;
}

.subtitle {
  margin-left: 10px;
  font-size: 14px;
  color: #CCCCCC;
}

.inputDate {
  margin: 10px 0px 10px 0px;
}

.inputTitle {
  margin: 10px 0px 10px 0px;
}

.entry {
  margin: 10px 0px 10px 0px;
}

.entry.date {
  margin-right: 20px;
  color: #5bc0de;
}

.entry.title {
  color: #000;;
}

.entry.category {
  margin-right: 20px;
  font-size: 10px;
  color: #CCCCEE;
}

.entry.btn { 
	color: #FFF;
	background-color: #5bc0de;
  margin-left: 5px;
  margin-right: 5px;
}

.entry.delete.btn { 
  color: #FFF;
  background-color: #FF0000;
}